@model Web_Site_2._0.Models.Admin_Password

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutSecond.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Admin_Password</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
